
<header class="glass-nav">
    <div class="nav-container">
        <nav class="links" role="navigation">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-link" ActiveClass="active">
                <i class="bi bi-house-fill"></i><span>Home</span>
            </NavLink>
            <NavLink href="about" class="nav-link" ActiveClass="active">
                <i class="bi bi-person-fill"></i><span>About</span>
            </NavLink>
            <NavLink href="projects" class="nav-link" ActiveClass="active">
                <i class="bi bi-briefcase-fill"></i><span>Project</span>
            </NavLink>
        </nav>
    </div>
</header>

